*.txt
*.log
*.o
*.swp
*.swo
*.mrc
*.nz
*.uz
tmp
.settings
cscope*
bin/
data/
*_c
*.bak
lib/libutil.a
lib/libcore.a
tags
tmp/
hpos
nhpos
mrcviewer
script/maskdata-middlesize
script/maskdata-mrc-large
script/maskdata-mrc-small
